<div class="jumbotron">
  <h2>Create and share secure messages!</h2>
  <p>All messages that you create will be destroyed after a specific period of time or after a number of views</p>
  <a class="btn btn-primary btn-lg" href="/messages/create" role="button">Start Here</a>
</div>

<div class="kottan hidden-xs">
  <img src="kottan.jpg" alt="kottan"/>
</div>
