<p>
  <form action="/messages/<%= @message.name %>" method="post" role="form">
    <div class="form-group">
      <label for="secret">Please enter password to view the message:</label>
      <br>
      <input id="secret" name="password" type="password" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</p>
